<div class="login-container">
  <div class="login-wrapper row">
    <div class="col-8 login-left">
      <p class="text-center header">My Social</p>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </div>
    </div>
    <div class="col-4 align-content-center">
      <div class="d-flex flex-column justify-content-center login-right">
        <p class="text-center header">User login</p>
        <input class="login-input mb-3" placeholder="email" type="email" />
        <input
          class="login-input mb-4"
          placeholder="password"
          type="password"
        />
        <button class="login-button">Login</button>
        <p class="subtext mt-3">
          No account? <a class="link" href="#sign-up">Sign up</a>
        </p>
      </div>
    </div>
  </div>
</div>
